.header-container {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 100px 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 800;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.todos-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 0;
}